[submodule "CMake"]
	path = CMake
	url = git@github.com:suryakiran/CMakeScripts
[submodule "PerlModules"]
	path = PerlModules
	url = git@github.com:suryakiran/PerlModules.git
[submodule "Global"]
	path = Global
	url = git@github.com:suryakiran/Global
[submodule "KDtree"]
	path = KDtree
	url = git://git.debian.org/git/libkdtree/libkdtree.git
